.snap-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.snap-modal-content {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    left: 50%;
    padding: 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.snap-modal iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.snap-modal-trigger {
    cursor: pointer;
}

.snap-modal-close {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: white;
    margin-right: -1rem;
    margin-top: -1rem;
}

.snap-modal-close:hover {
    background-color: darkgray;
}

.snap-show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.snap-gallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(0, minmax(0, 1fr));
}

.snap-video {
    border: 1px solid #aaa;
    padding: 0.75rem;
}

.snap-thumbnail {
    aspect-ratio: 16 / 9;
    position: relative;
}

.snap-thumbnail-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

@media (min-width: 768px) {
    .snap-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .snap-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .snap-modal-content {
        width: 50%;
    }
}